@using Simple_Sales_Management.ViewModels.Seller
@model IEnumerable<SellerIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Our sellers</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Seller</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commision)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commision)€
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SellerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SellerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SellerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
